<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swx.easypan.mapper.EmailCodeMapper">
    <select id="disableEmailCode">
        update email_code
        set status = 1
        where email = #{email}
          and status = 0
    </select>
</mapper>
